<!DOCTYPE html>
<html lang="bn">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&family=Tiro+Bangla:ital@0;1&display=swap"
        rel="stylesheet">
    <title>Nurul Quran Academy</title>
    <link rel="stylesheet" href="../src/testimonial.css" />
</head>

<body>

    <section class="testimonial-section">
        <div class="testimonial-section__container">
            <header class="testimonial__header testimonial__header--mobile">
                <h2 class="testimonial__title">বিজ্ঞজন আমাদের কাজের <span class="testimonial__title--highlight">প্রশংসা
                        করেছেন !!</span></h2>
            </header>
            <div class="testimonial-section__content">
                <div class="testimonial-video">
                    <div class="testimonial-video__container">
                        <div class="testimonial-video__border"></div>
                        <img class="testimonial-video__image" src="../img/testimonial-1.png"
                            alt="শায়খ আহমাদুল্লাহর প্রশংসাপত্র ভিডিও" />
                        <button class="testimonial-video__play-btn" aria-label="প্রশংসাপত্র ভিডিও চালান">
                            <img class="testimonial-video__play-icon" src="../public/play.svg" alt="চালান" />
                        </button>
                    </div>
                </div>
                <article class="testimonial-content">
                    <header class="testimonial__header">
                        <h2 class="testimonial__title">বিজ্ঞজন আমাদের কাজের <span
                                class="testimonial__title--highlight">প্রশংসা করেছেন !!</span></h2>
                    </header>
                    <div class="testimonial-content__wrapper">
                        <blockquote class="testimonial-content__quote">
                            আলহামদুলিল্লাহ, নুরুল কোরআন অ্যাকাডেমি ইমসলামের বর্তা সহীহভাবে পৌঁছে দেয়ার জন্য
                            যা করছে তা খুবই
                            প্রশংসনীয়, এবং এই ডিজিটাল যুগে আমাদেরকে ইসলামকে মানুষের কাছে পৌঁছাতে হবে
                            ডিজিটালভাবে, যা এই প্রতিষ্ঠান
                            সফলতার সাথে করে আসছে।
                        </blockquote>
                        <footer class="testimonial-content__author">
                            <img class="testimonial-content__avatar" src="../img/ahmudullah.png"
                                alt="শায়খ আহমাদুল্লাহ" />
                            <div class="testimonial-content__author-info">
                                <cite class="testimonial-content__name">শায়খ আহমাদুল্লাহ</cite>
                                <p class="testimonial-content__title">চেয়ারম্যান, আস-সুন্নাহ ফাউন্ডেশন</p>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>
        </div>
    </section>

</body>

</html>