@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "Li M. A. Hai Unicode";
  src: url("../fonts/Li_M_A_Hai_Unicode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --white-100: rgba(255, 255, 255, 1);
  --blackheading: rgba(18, 17, 17, 1);
  --blacksubtext: rgba(83, 89, 102, 1);
  --greyoutline: rgba(240, 240, 240, 1);
  --h-1-font-family: "Noto Serif Bengali", Helvetica;
  --h-1-font-weight: 500;
  --h-1-font-size: 48px;
  --h-1-letter-spacing: 0px;
  --h-1-line-height: normal;
  --h-1-font-style: normal;
  --h-2-font-family: "Noto Serif Bengali", Helvetica;
  --h-2-font-weight: 500;
  --h-2-font-size: 40px;
  --h-2-letter-spacing: 0px;
  --h-2-line-height: 110.00000238418579%;
  --h-2-font-style: normal;
  --h-3-font-family: "Noto Serif Bengali", Helvetica;
  --h-3-font-weight: 400;
  --h-3-font-size: 33px;
  --h-3-letter-spacing: 0px;
  --h-3-line-height: 120.00000476837158%;
  --h-3-font-style: normal;
  --h-4-font-family: "Noto Serif Bengali", Helvetica;
  --h-4-font-weight: 400;
  --h-4-font-size: 28px;
  --h-4-letter-spacing: 0px;
  --h-4-line-height: 150%;
  --h-4-font-style: normal;
  --h-5-font-family: "Noto Serif Bengali", Helvetica;
  --h-5-font-weight: 400;
  --h-5-font-size: 23px;
  --h-5-letter-spacing: 0px;
  --h-5-line-height: 120.00000476837158%;
  --h-5-font-style: normal;
  --h-6-font-family: "Noto Serif Bengali", Helvetica;
  --h-6-font-weight: 400;
  --h-6-font-size: 19px;
  --h-6-letter-spacing: 0px;
  --h-6-line-height: 150%;
  --h-6-font-style: normal;
  --body-text-font-family: "Noto Serif Bengali", Helvetica;
  --body-text-font-weight: 400;
  --body-text-font-size: 16px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 150%;
  --body-text-font-style: normal;
  --paragraph-text-font-family: "Noto Serif Bengali", Helvetica;
  --paragraph-text-font-weight: 400;
  --paragraph-text-font-size: 14px;
  --paragraph-text-letter-spacing: 0px;
  --paragraph-text-line-height: 150%;
  --paragraph-text-font-style: normal;
  --paragraph-text-small-font-family: "Noto Serif Bengali", Helvetica;
  --paragraph-text-small-font-weight: 400;
  --paragraph-text-small-font-size: 11px;
  --paragraph-text-small-letter-spacing: 0px;
  --paragraph-text-small-line-height: 120.00000476837158%;
  --paragraph-text-small-font-style: normal;
  --h6-bold-font-family: "Noto Serif Bengali", Helvetica;
  --h6-bold-font-weight: 700;
  --h6-bold-font-size: 20px;
  --h6-bold-letter-spacing: 0px;
  --h6-bold-line-height: 26px;
  --h6-bold-font-style: normal;
  --h6-semibold-font-family: "Noto Serif Bengali", Helvetica;
  --h6-semibold-font-weight: 600;
  --h6-semibold-font-size: 19px;
  --h6-semibold-letter-spacing: 0px;
  --h6-semibold-line-height: 150%;
  --h6-semibold-font-style: normal;
  --h4-medium-font-family: "Noto Serif Bengali", Helvetica;
  --h4-medium-font-weight: 500;
  --h4-medium-font-size: 28px;
  --h4-medium-letter-spacing: 0px;
  --h4-medium-line-height: 150%;
  --h4-medium-font-style: normal;
  --body-text-semibold-font-family: "Noto Serif Bengali", Helvetica;
  --body-text-semibold-font-weight: 600;
  --body-text-semibold-font-size: 16px;
  --body-text-semibold-letter-spacing: 0px;
  --body-text-semibold-line-height: 150%;
  --body-text-semibold-font-style: normal;
  --h5-medium-font-family: "Noto Serif Bengali", Helvetica;
  --h5-medium-font-weight: 500;
  --h5-medium-font-size: 23px;
  --h5-medium-letter-spacing: 0px;
  --h5-medium-line-height: 150%;
  --h5-medium-font-style: normal;
  --shadow-card: 0px 2px 4px 0px rgba(0, 0, 0, 0.05),
    0px 7px 7px 0px rgba(0, 0, 0, 0.04), 0px 15px 9px 0px rgba(0, 0, 0, 0.03),
    0px 27px 11px 0px rgba(0, 0, 0, 0.01), 0px 41px 12px 0px rgba(0, 0, 0, 0);
  --shadow-reverse: 0px -2px 4px 0px rgba(0, 0, 0, 0.05),
    0px -7px 7px 0px rgba(0, 0, 0, 0.04), 0px -15px 9px 0px rgba(0, 0, 0, 0.03),
    0px -27px 11px 0px rgba(0, 0, 0, 0.01), 0px -41px 12px 0px rgba(0, 0, 0, 0);
}
html,
body {
  margin: 0px;
  height: 100%;
  font-family: "Noto Serif Bengali", Helvetica !important;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}